html{
    height: 100;
}
.x{
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(211, 211, 211),rgb(189,189,189));
    height: 599px;
}
.z{
    background: linear-gradient(to bottom, rgb(252, 252, 252),rgb(211, 211, 211),rgb(189,189,189));
    height: 695px;
}


body {
    line-height: 1.4rem !important;
     font-family: 'Ubuntu', sans-serif !important;
}

.Sidebar{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(102,175,190),rgb(158, 189, 197), rgb(100,107,117));
    overflow-x: hidden;
    transition: all 400ms;
}
.LogoText{
    position: absolute;
    font-size: 20px;
    top: 35px;
    left: 80px;
    font-weight: bold;
    font-family: 'Ubuntu';
    color: white;
    text-shadow: 1px 1px 2px gray;
}
.Logo{
    position: relative;
    left: 10px;
    width: 150px;
    height: 150px;
    margin-left: -40px;
    margin-top: -34px;  
}

.access{
    position: relative;
  background: rgb(191, 217, 223);
  transition: all 500ms;
}

.active-management{
    margin-right: 1px;
    margin-top: -5px;
   
}
.dashs{
    position: relative;
    left: -13px;
    font-size: 20px;
    margin-left: 90px;
    margin-top: -55px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}
.dashs:hover{
    text-decoration: none;
    color: wheat;
}
.patrons{
    position: relative;
    left: -13px;
    font-size: 20px;
    margin-left: 90px;
    margin-top: -59px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}
.dasht{
    margin-top: 1ch;
    position: relative;
    left: 4px;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(141, 141, 141));
    filter: drop-shadow(2px 2px 2px rgb(126, 126, 126));
}
.patronss{
    
    position: relative;
    left: 05px;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(141, 141, 141));
    filter: drop-shadow(2px 2px 2px rgb(126, 126, 126));
}
.boooks{
    position: relative;
    left: 05px;
    text-shadow: 1px 1px 2px gray;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(141, 141, 141));
    filter: drop-shadow(2px 2px 2px rgb(126, 126, 126));
}
.set{
    position: relative;
    left: 5px;
    text-shadow: 1px 1px 2px gray;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(141, 141, 141));
    filter: drop-shadow(2px 2px 2px rgb(126, 126, 126));
}
.patrons:hover{
    text-decoration: none;
    color: wheat;
}
.books{
    position: relative;
    left: -13px;
    font-size: 20px;
    margin-left: 90px;
    margin-top: -65px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}
.books:hover{
    text-decoration: none;
    color: wheat;
}
.settingss{
    position: relative;
    left: -13px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 28px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}
.settingss:hover{
    text-decoration: none;
    color: wheat;
}

.Logout-container{
    position: absolute;
    left: 10px;
    font-size: 20px;
    margin-left: 1195px;
    margin-top: 29px;
    font-weight: bold;
    display: line;
}

.Logout{
    color: #696969;
}

.logout:hover{
    text-decoration: none;
    color: #8f8f8f;
}

.log-outss{
    position: relative;
    width: 40px;
    height: 40px;
    left: -05px;
    top: -1px;
}
.TopBar{
    height: 14%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed; 
    z-index: 2;
    background: #ffffff;
    box-shadow: 7px 7px 15px rgb(204, 204, 204);

}
.main {
    margin-left: 245px;
    padding: 0px 10px;
    margin-top: 6rem;
  }
.text{
    font-family: 'Ubuntu';
    text-align: center;
    font-weight: bold;
    color: #4F4F4F;
}
.modal-title{
    margin-left: 170px;
    font-weight: bold;
    font-family: 'Ubuntu';
}
.modal-content{
    background: linear-gradient(to bottom, rgb(252, 252, 252),rgb(211, 211, 211), rgb(180, 180, 180));

}

.iconss{
    margin-left:872px ;
    max-width: 140px;
    margin-top: -31px;
    width: 36px;
    height: 37px;
    

}
.searx{
    position: absolute;
    margin-left:900px ;
    max-width: 140px;
    margin-top: 21px;

}
.baton{
    position: relative;
    margin-top: 17px;
}
.searz{
    position: absolute;
    margin-left:900px ;
    max-width: 140px;
    margin-top: 21px;
}
.iconzz{
    margin-left:872px ;
    max-width: 140px;
    margin-top: -31px;
    width: 36px;
    height: 37px;
}
.patrun{
    position: relative;
    margin-top: 17px;
}
.lines{
    position: absolute;
    margin-top: 130px;
    width: 1147px;
    margin-left: -36px;
}
.liness{
    position: absolute;
    margin-top: 138px;
    width: 1186px;
    margin-left: -100px;
}
.linesss{
    position: absolute;
    margin-top: 80px;
    width: 1196px;
    margin-left: -100px;
}
