<template>
  <div class="TopBar">
    <div class="Logout-container">
      <img src="../../assets/images/Logoutss.png" class="log-outss" />
      <a href class="Logout">Log-out</a>
    </div>
  </div>
</template>
<script>
export default {};
</script>
