 <template>
  <div id="app">
    <div class="Sidebar">
      <div class="LogoText">Chillbooks</div>
      <img src="@/assets/images/CBB.png" class="Logo" />

      <div class="row" :class="$route.name == 'Dashboard' ? 'access':''">
        <router-link to="/">
        <img
            src="@/assets/images/dash.png"
            height="42"
            class="dasht ml-3 mt-4 mb-4"
          /><a href="Chillbooks.html" class="dashs">Dashboard</a></router-link>
      </div>

      <div class="row-patron" :class="$route.name == 'Patron Management' ? 'access':''">
         <router-link to="/patron"><img
            src="@/assets/images/img.png"
            height="34"
            class="patronss position-absolute ml-1 mt-4 pt-2 mb-4"
          /><a href="Patron.html" class="patrons">Patron Management</a></router-link>
      </div>

      <div class="row-book" :class="$route.name == 'Books Management' ? 'access':''">
         <router-link to="/books"><img
            src="@/assets/images/book.png"
            height="35"
            class="boooks position-absolute ml-1 mt-5 mb-2"
          /><a href="book.html" class="books">Book Management</a></router-link>
      </div>

      <div class="row-setting" :class="$route.name  == 'Settings' ? 'access':''">
         <router-link to="/settings"><img
            src="@/assets/images/setting.png"
            height="35"
            class="set ml-1 mt-5 mb-5"
          /><a href="setting.html" class="settings">Settings</a></router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    activeState: function(){
      return this.$route.path    }
  }
};
</script>
