<template>
  <div id="app">
    <div class="background-color">
      <div class="main">
        <div class="container pt-2">
          <div class="row mt-2 col-md-5">
            <button
              type="button"
              data-toggle="modal"
              data-target="#addModal"
              style="border-radius: 7px"
              class="patrun btn-secondary btn border-0 shadow"
              @click="$bvModal.show('addModal')"
            >
              Add Patron
            </button>

            <img
              src="../../../assets/images/search.png"
              height="20"
              class="iconss border-0 shadow-sm iconzz"
              style="border-radius: 6px"
            />
            <input
              type="text"
              class="form-control searz border-0 shadow-sm"
              placeholder="Search"
              style="border-radius: 6px"
            />
          </div>
        </div>

        <div class="container pr-5 pt-2">
          <div class="card shadow col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(patron, index) in patrons" :key="index">
                    <td>{{ patron.first_name + " " + patron.middle_name + " " + patron.last_name}}</td>
                    <td>{{ patron.email }}</td>
                    <td>{{ patron.created_at }}</td>
                    <td>
                      <a type="button" @click.prevent="showEdit(i)">
                        <img src="@/assets/images/edit.png" class="mr-2" height="20" />
                      </a>
                      <a
                        type="button"
                        data-toggle="modal"
                        data-target="#deleteModal"
                        @click.prevent="showDelete(i)"
                      >
                        <img src="@/assets/images/delete.png" class="mr-2" height="20"
                      /></a>
                    </td>
                  </tr>
                </tbody>

                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <hr style="border-width: 1px; background-color: rgb(87, 87, 87)" class="lines" />
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Patron">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label"
              ><strong>First Name</strong></label
            >
            <div class="col-sm-8">
              <input
                type="text"
                v-model="data.name"
                class="form-control"
                id="firstname"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label"
              ><strong>Middle Name</strong></label
            >
            <div class="col-sm-8">
              <input
                type="text"
                v-model="data.middle"
                class="form-control"
                id="middlename"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label"
              ><strong>Last Name</strong></label
            >
            <div class="col-sm-8">
              <input type="text" v-model="data.last" class="form-control" id="lastname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label"
              ><strong>Email</strong></label
            >
            <div class="col-sm-8">
              <input type="text" v-model="data.email" class="form-control" id="email" />
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="secondary" @click.prevent="savePatron">
          Add Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()"> Cancel </b-button>
      </template>
    </b-modal>

    <b-modal id="updateModal" centered title="Update Patron">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label"><strong>Full Name</strong></label>
            <div class="col-sm-8">
              <input
                type="text"
                v-model="updateData.name"
                class="form-control"
                id="fullname"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label"><strong>Middle name</strong></label>
            <div class="col-sm-8">
              <input
                type="text"
                v-model="updateData.middle"
                class="form-control"
                id="author"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label"><strong>Last name</strong></label>
            <div class="col-sm-8">
              <input
                type="text"
                v-model="updateData.last"
                class="form-control"
                id="lastname"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label"><strong>Email</strong></label>
            <div class="col-sm-8">
              <input
                type="text"
                v-model="updateData.email"
                class="form-control"
                id="email"
              />
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="confirmUpdate">
          Update Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()"> Cancel </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p><center>Are you sure you want to delete this patron?</center></p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="confirmDelete"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
export default {
    data(){
        return{
            patronIndex: '',
            patron: {
                first_name: '',
                last_name: '',
                middle_name: '',
                email: '',
                created_at: new Date().toJSON().slice(0, 10).replace(/-/g, '/')
            }
        }
    },
    methods: {
        
        ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
        ...mapGetters('patrons', ['getPatronData']),
        
        showEditModal(patron, index){
            this.patron = {...patron}
            this.patronIndex = index
            this.$bvModal.show("EditPatronModal")
        },
        showDeleteConfirm(index) {
            var x = confirm('Are you sure you want to delete this patron?')
            if (x == true) {
                this.PatronIndex = index;
                this.patronDelete()
            }
        },
        async savePatron(){
            const res = await this.storePatron(this.patron)
            if(res.status == 200){
            this.$bvModal.hide('addPatronModal');
            this.clearFields()
            this.$toast.success('Patron saved successfully!')
            
         }
        else {    
            this.$toast.error(res.data)
        }
        },
        async patronDelete() {
            const res = await this.deletePatron(this.PatronIndex)
            if(res.status == 200){
            this.$toast.success('Patron deleted successfully')
        }
        else {
            this.$toast.error(res.data)
        }
        },
        async patronUpdate(){
            const res = await this.updatePatron({data: this.patron, index: this.PatronIndex})
            if(res.status == 200){
            this.$bvModal.hide('EditPatronModal')
            this.$toast.success('Patron updated successfully!')
        }
        else {
            this.$toast.error(res.data)
        }
        },
        clearFields() {
            this.patron.first_name = "";
            this.patron.middle_name = "";
            this.patron.last_name = "";
            this.patron.email = "";
        },
        showError(data){
            for (const key of Object.keys(data)) {
            this.$toast.error(data[key][0]); 
      }
    }
    },
        
    mounted() {
        this.getPatrons()
        document.title = "LiSys | Patron Management"
    },
    computed: {
        ...mapState('patrons', ['patrons'])
    }
  
};
</script>