<template>
  <div id="app">
    <div class="background-color">
      <div class="main">
        <div class="container pt-2">
          <div class="row mt-2 col-md-5">
            <button
              type="button"
              data-toggle="modal"
              data-target="#addModal"
              style="border-radius: 7px"
              class="baton btn-secondary btn border-0 shadow"
              @click="$bvModal.show('addModal')"
            >
              Add Books
            </button>

            <img
              src="../../../assets/images/search.png"
              height="20"
              class="iconss border-0 shadow-sm"
              style="border-radius: 6px"
            />
            <input
              type="text"
              class="form-control searx border-0 shadow-sm"
              placeholder="Search"
              style="border-radius: 6px"
            />
          </div>
        </div>

        <div class="container pr-5 pt-2">
          <div class="card shadow col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Copies Available</th>
                    <th scope="col">Cateogory</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(book, i) in books" :key="i">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{book.category}}</td>
                      <td>
                        <a type="button" @click.prevent="$bvModal.show('editModal'); id = i; data = {...book}">
                        <img
                          src="@/assets/images/edit.png"
                          class="mr-2"
                          height="20"/>
                        </a>
                        <a type="button" @click.prevent="$bvModal.show('deleteModal'); id = book.id;">
                          <img
                            src="@/assets/images/delete.png"
                            class="mr-2"
                            height="20"
                        /></a>
                        <a type="button" @click.prevent="$bvModal.show('borrowModal'); book_data.book_id = book.id; id = i;">
			 Borrowed Book
                        /></a>
                        <a type="button" @click.prevent="$bvModal.show('returnModal'); book_data.book_id = book.id; id = i;">
			Return Book
                        /></a>
                        
                      </td>
                    </tr>
                </tbody>

                <tbody></tbody>
              </table>
            </div>
          </div>
          <hr
            style="border-width: 1px; background-color: rgb(87, 87, 87)"
            class="linesss"
          />
        </div>
      </div>
	
	    <b-modal id="BorrowedBook" title="Borrow Book">
	      <form class="pl-5 pr-5">
	          <div class="form-group">
	          <label for="Copies">Copies</label>
	          <input
	            type="number"
	            class="form-control"
	            placeholder=""
	            v-model="book.copies"/>
	        </div>
	          <div class="form-group">
	          <label for="customSelect">Select Patron</label>
	          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
	            <option selected disabled>Please select a patron (optional)</option>
	            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
	          </select>
	        </div>
	      </form>
	      <template #modal-footer="{ }">
	        <b-button size="sm" variant="primary" @click.prevent="borrowBook">Submit</b-button>
	      </template>
	    </b-modal>
	
	    <b-modal id="ReturnedBook" title="Return Book">
	      <form class="pl-5 pr-5">
	          <div class="form-group">
	          <label for="Copies">Copies</label>
	          <input
	            type="number"
	            class="form-control"
	            placeholder=""
	            v-model="book.copies"/>
	        </div>
	          <div class="form-group">
	          <label for="customSelect">Select Patron</label>
	          <select id="customSelect" v-model="book_info.patron_id" name="patrons" class="custom-select">
	            <option selected disabled>Please select a patron (optional)</option>
	            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
	          </select>
	        </div>
	      </form>
	      <template #modal-footer="{ }">
	        <b-button size="sm" variant="primary" @click.prevent="returnBook">Submit</b-button>
	      </template>
	    </b-modal>
</div>

      <b-modal id="addModal" centered title="Add Book">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label"><strong>Full Name</strong></label>
            <div class="col-sm-8">
              <input type="text" v-model="data.name" class="form-control" id="fullname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label"><strong>Author</strong></label>
            <div class="col-sm-8">
              <input type="text" v-model="data.author" class="form-control" id="author" />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label"><strong>Copies</strong></label>
            <div class="col-sm-8">
              <input type="number" v-model="data.copies" class="form-control" id="lastname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label"><strong>Category</strong></label>
            <div class="col-sm-8">
              <select v-model="data.category" class="form-control form-control-sm">
                      <option value="1">Java</option>
                      <option value="2">Phyton</option>
                      <option value="3">C++</option>
                      <option value="4">HTML</option>
                      <option value="5">CSS</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="secondary" @click.prevent="saveBook">
          Add Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()">
          Cancel
        </b-button>
      </template>
    </b-modal>

    <b-modal id="updateModal" centered title="Update Patron">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label">Full Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="updateData.name" class="form-control" id="fullname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label">Author</label>
            <div class="col-sm-8">
              <input type="text" v-model="updateData.author" class="form-control" id="author" />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label">Copies</label>
            <div class="col-sm-8">
              <input type="number" v-model="updateData.copies" class="form-control" id="lastname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <select v-model="updateData.category" class="form-control form-control-sm">
                <option selected>Choose a Cateogory</option>
                      <option value="1">Java</option>
                      <option value="2">Phyton</option>
                      <option value="3">C++</option>
                      <option value="4">HTML</option>
                      <option value="5">CSS</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="confirmUpdate">
          Update Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()">
          Cancel
        </b-button>
      </template>
    </b-modal>


       <b-modal id="deleteModal" centered title="Confirm Delete">
      <p><center> Are you sure you want to delete this patron?</center></p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="confirmDelete"> Confirm </b-button>
      </template>
    </b-modal>
    </div>
  </div>
</template>
    async borrowBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createBorrowed({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccessToast('Book borrowed successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async returnBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccessToast('Book returned successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async saveBook(){
      const res = await this.storeBook({...this.data})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      } 
    },
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async bookUpdate(){
      const res = await this.updateBook({index: this.id, data: this.data})
      if(res.status == 200){
        this.showSuccessToast('Book updated successfully!')
        this.$bvModal.hide('editModal')
      }
      else{
        this.showError(res.data)
      }
    },
    clearData(){
      this.book_data = {
        name: '', 
        author: '',
        copies: '',
        category_id: ''}
    },
  mounted() {
    document.title = "LiSys | Book Management"
    this.getBooks();
    this.getCategories();
    this.getPatrons();
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  }
};
</script>