.banner-area {
  background: url(assets/Images/1BACK.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
  width: 100%;
  height: 100vh;
}
.j{
    color:white;
}
.j:hover{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-bottom: 0cm;
    border-bottom-left-radius: 0cm;
}
.harp2s{
    position: absolute;
    width: 1480px;
    left: -49px;
    top: 526px;
    padding: 0px;
}

.menu ul {
 display: inline-flex;
 margin: 15px;
}

.menu ul li{
  list-style: none;
  margin: 0 20px;
  color: white;
  cursor: pointer;
  top: 20 px;
  right: 80px;  
}

.info{
    top:19px;
    right:250px;
    color: white;
    position: absolute;
   
}
.info:hover{
    text-decoration: none;
    color: black;
}

.about-us{
    top:19px;
    right:150px;
    color: white;
    position: absolute;
} 
.about-us:hover{
    text-decoration: none;
    color: black;
}
.more{
    top:19px;
    right:80px;
    color: white;
    position: absolute;
}
.more:hover{
    text-decoration: none;
    color: black;
}

.header-primary{
    font-size: 135px;
    color:"#fffff";
    font-family: 'Exo';
}
.text-center{
    margin: auto;
    width: 100%;
    padding: 100px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0));
    -webkit-text-fill-color: transparent;
    position: relative;
    -webkit-background-clip: text;
}
.text-center:hover{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(225, 225, 225));
    -webkit-text-fill-color: transparent;
    position: relative;
    -webkit-background-clip: text;
}
.header-secondary{
    text-align: center;
    color: white;
    font-size: 30px;
    font-style: italic;
    right: 100px;
    padding: 275px;  
}
.header-secondary:hover{
    text-decoration: none;
    color: gray;
}
   
.third-header{
    top:285px;
    right:117px;
    color: white;
    position: absolute;
    font-size: 20px;
    font-style: italic;
} 
.Instruments {
    margin: auto;
    width: 215px;
    padding: 0px;
}

.e-g {
    width: 25%;
    position: absolute;
    top: 0px;
    left: -200px;
}
.saxo {
    width: 33%;
    position: absolute;
    top: 35px;
    left: 11px;
 }
 .vio {
    width: 33%;
    position: absolute;
    top: 85px;
    left: 325px;
 }
 .flu {
    width: 33%;
    position: absolute;
    top: 90px;
    left: 580px;
 
 }
.more-word{
    position: absolute;
    top: 1450px;
    left: 610px;
    color:black;
    font-family: 'Exo';
    font-size: 30px;
}
.more-word:hover{
    text-decoration: none;
    color: blue;
    font-size:33px;
}
.Background2{
    position: relative;
    width: 1268px;
    left: 0;
    top: 600px;
}
.harp{
    position: absolute;
    width: 1290px;
    left: 0.5cm;
    top:1549px;
    padding: 0;
    
}
.whatsnew{
    position: absolute;
    top: 1650px;
    left: 560px;
    color:black;
    font-family: 'exo';
    font-size: 30px;
}
.arrival{
    position: absolute;
    top: 2150px;
    left: 485px;
    color:black;
    font-family: 'exo';
    font-size: 50px;
}
.arrival:hover{
    text-decoration: none;
    color: white;
    font-size:53px;
}
.drummers{
    width: 25%;
    position: absolute;
    top: 1800px;
    left: 39px;
}
.loop{
    width: 25%;
    position: absolute;
    top: 1800px;
    left: 500px;
}
.base{
    width: 25%;
    position: absolute;
    top: 1800px;
    left: 950px;
}
.vb{
    width: 100%;
    position: absolute;
    top: 2195px;
    left: 0px;
    padding: 3%;

}
.mr{
    width: 30%;
    position: absolute;
    top: 2350px;
    left: 55px;
    border-radius: 80px;
    
}
.pro{
    width: 110%;
    position: absolute;
    top: 2660px;
    left: 480px;
    font-family: 'exo';
    color: black;
    font-size: 20px;
}
.para{
    width: 110%;
    position: absolute;
    top: 2420px;
    left: 480px;
    font-family: 'exo';
    color: black;
    font-size: 25px;
}
.para:hover{
    text-decoration: none;
    color: white;
}
.crowds{
    width: 98%;
    position: absolute;
    top: 3001px;
    left: 13px;
    padding: 2%;
}

.word{
    width: 110%;
    position: absolute;
    top: 2605px;
    left: 480px;
    font-family: 'exo';
    color: black;
}
.word:hover{
    text-decoration: none;
    color: white;
}
.follow{
    position: absolute;
    top: 3135px;
    left: 570px;
    color:black;
    font-family: 'exo';
    
    font-size: 30px;
}
.face{
    width: 10%;
    position: absolute;
    top: 3155px;
    left: 465px;
}
.tweeter{
    width: 8%;
    position: absolute;
    top: 3170px;
    left: 565px;
}
.you{
    width: 10%;
    position: absolute;
    top: 3170px;
    left: 651px;
}
.send{
    position: absolute;
    top: 3450px;
    left: 520px;
    color:black;
    font-family: 'exo';
    
    font-size: 30px;
}
.senduss{
    position: absolute;
    top: 3815px;
    left: 605px;
    color:black;
    font-size: 35px;
    

}
.box1{
    width: 460px;
    height: 340px;
    position: absolute;
    top: 30px;
    left: 26px;
    background-color:white;
    border-radius: 65px;
}
.box{
    width: 520px;
    height: 400px;
    position: absolute;
    top: 3500px;
    left: 390px;
    background-color: black;
    border-radius: 65px;
}
.int{
    position: absolute;
    left: 15px;
    top: 35px;
    
}
input{
    width:205%;
    border: 2px solid #aaaa;
    border-radius: 15px;
    margin: 8px 0;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}
.int2{
    position: absolute;
    left: 15px;
    top: 100px;
}
.int3{
    position: absolute;
    left: 15px;
    top: 165px;
    
}
.input3{
    height: 111px;
}
