<template>
  <div id="app">
 
    
    <div class="background-color">
      <div class="main">
        <div class="container pl-4 pt-4">
          <div class="row mt-5">
            <div class="card shadow">
              <div class="card-body">
                <div class="mr-4">
                  <h6 class="text">Borrowed and returned books</h6>
                  <canvas id="barChart" width="450" height="300"></canvas>
                </div>
              </div>
            </div>
            <div class="card shadow ml-4">
              <div class="card-body">
                <div class="ml-2">
                  <h6 class="text">Popular book genre</h6>
                  <canvas id="pieChart" width="450" height="300"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="border-width: 1px; background-color: rgb(87, 87, 87)" class="liness" />
  </div>
</template>
<script>

import Chart from "chart.js";
export default {

  data() {
    return {
      msg: "Hello World!",
    };
  },
  methods: {},
  mounted() {
    document.title = "Dashboard";
    this.$nextTick(() => {
      var lol = document.getElementById("barChart").getContext("2d");
      new Chart(lol, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE", "JUL"],
          datasets: [
            {
              label: "Borrowed Books",
              data: [13, 9, 7, 11, 12, 10, 9],
              backgroundColor: "rgba(244, 148, 148, .9)",
            },
            {
              label: "Returned Books",
              data: [7, 11, 5, 9, 8, 8, 5],
              backgroundColor: "rgba(255, 191, 96, .9)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20, 20],
              backgroundColor: ["rgba(148, 244, 198, .9)", "rgba(61, 173, 255, .9)", "rgba(249, 174, 106, .9)", "rgba(255, 31, 31, .9)", "rgba(209, 104, 245, .9)"],
            },
          ],

          labels: ["Java", "Phyton", "C++", "HTML", "CSS"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>
