<template>
  <div id="app">
    <NavBar />
    <SideBar/>

    <router-view/>
  </div>
</template>

<script>
import SideBar from "@/components/navigation/Sidebar";
import NavBar from "@/components/navigation/NavBar";
export default {
components: { SideBar, NavBar },
}
</script>

<style>

</style>