<template>
  <div class="container-fluid">
      <router-view></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
</style>